<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <title>CLIMABLE</title>
    <meta name="description" content="Find your stoke" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>

  <header>
    CLIMABLE
  </header>

  <body>

    <h2>
      FIND YOUR STOKE
    </h2>

  <div class="area">
    <p>
      AREA: Takaka
    </p>
  </div>

  <div class="search">
    <p>
      SEARCH:
    </p>
  </div>

  <div class="sort">
    <p>SORT</p>
  </div>

  <div class="range">
    <p>RANGE</p>
  </div>

  <div class="climbs">
    <p>CLIMBS</p>
  </div>


    {% extends "base.html" %}

    {% block title %}Climbs{% endblock %}

    {% block content %}

    <div id="all-climbs">

    {% for send in climbs %}
    <div class="single-climbs">
    <a href="/send/{{ send[0] }}" title="{{ send[0][2] }}">  </a>
    </div>
    {% endfor %}
    </div>
    {% endblock %}
    <div id="footer">
      {{ disclaimer|upper }}
    </div>


  </body>

</html>
